{% extends 'nav.html' %}
{% block title %}
    数据详情
{% endblock %}
{% block main %}
    <link rel="stylesheet" href="/static/css/detail_info.css"/>
    <script type="text/javascript" src="/static/js/detail_info.js"></script>


    <div class="container-fluid">
        <table id="detail_info_table" class="table table-hover">
            <caption>数据详情</caption>
        </table>
        <button type="button" class="btn btn-primary">查看更多</button>

        <div id="detail_container" style="width: 1140px; height: 600px; margin: 0 auto"></div>
    </div>
{% endblock %}