{% extends 'nav.html' %}
{% block title %}
    index
{% endblock %}
{% block main %}
    <script type="text/javascript" src="/static/js/index.js"></script>
    <link rel="stylesheet" href="/static/css/index.css"/>

    <div class="container-fluid">
        <table id="index_table" class="table table-hover">
            <caption>各地级市大豆种植面积数据一览</caption>
        </table>
        <div id="index_container" style="width: 1140px; height: 600px; margin: 0 auto"></div>

    </div>
    <div style="margin-bottom: 500px">
    </div>
{% endblock %}



